h2{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    Font-size: 2.5rem;
    border: solid red 2px;
}

img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid red 2px;
    width: 100%;
    height: auto;
}