#event{
    font-size: 2.3rem;
}

h2{
    margin: 1rem 0 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    Font-size: 2rem;

}

.billede{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
    padding: 0 3rem;
}

.tekst{
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align:flex-start;
    padding: 0 3rem;
    margin-top: 0.7rem;
}


.tekst p{
    font-size: 1rem;
    margin: 0.5rem 0;
}

.kalender section{
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    border: solid #19355c 2px;
    margin: 0.5rem 3rem;
    padding: 1rem 0;
}

.kalender p{
    padding: 0 0.2rem;
}

.squiggly-line{
   margin: 1rem 3rem 0 3rem;
}

a{
    text-decoration: none;
    text-decoration: underline;
    color: #ffffff;
}

button {
    padding: 0.6rem 0.5rem;
    margin: 0 3rem;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: #19355c;
    border: none;
    border-radius: 2.8rem;
    transition: all 0.3s ease 0s;
  }

.pris{
    display: flex;
    justify-content: center;
    
}

#eksplotion{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 0 3rem;
}

#kaptajn-pris{
    display: flex;
    justify-content: space-between;
}