h2{
    margin: 1rem 0 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

}

#havnerundfart-i-aarhus {
    text-align: center;
}

.billede{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
    padding: 0 3rem;
}

.tekst{
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding: 0 3rem;
    margin-top: 0.7rem;
}


.tekst p{
    font-size: 1rem;
    margin: 0.5rem 0;
}

.sejlplan {
    text-decoration: underline;
    text-align: center;
    color: #fff;
    padding: 0.6rem 3rem;
    margin: 0 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;
    background-color: #19355c;
    border-radius: 2.8rem;
}

.kalender section{
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    border: solid #19355c 2px;
    margin: 0.5rem 3rem;
    padding: 1rem 0;
}

.kalender p{
    padding: 0 0.2rem;
}

.squiggly-line{
   margin: 1rem 3rem 0 3rem;
}

.pris{
    display: flex;
    justify-content: center;
    
}

#eksplosion{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 0 3rem;
}

#kaptajn-pris{
    display: flex;
    justify-content: space-between;
}


@media (min-width: 1000px) {


    
    h2{
        margin: 1rem 0 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.5rem;
    
    }
    
    .billede{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 8%;
    }

      
    
    .tusind{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        padding: 4% 8% 0 8%;

    }

    .tekst{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        padding: 0;
        margin-top: 0;
        width: 48%;
        
    }
    
    
    .tekst p{
        font-size: 1.2rem;
        margin: 0 0 1rem 0;
    }

    .kalender{

        width: 48%;
        padding: 0;
        margin: 0 0 2rem 0;

    }
    
    .kalender section{
        display: flex;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
        border: solid #19355c 2px;
        margin: 0 0 0.5rem 0;
        padding: 1rem 0;
    }
    
    .kalender p{
        font-size: 1.2rem;
    }
    
    .squiggly-line{
       margin: 3rem 8% 1.5rem 8%;
       
    }

    .pris{
        display: flex;
        justify-content: center;
        
    }

    #kaptajn-pris{
        display: flex;
        justify-content: space-between;
    }
}
