footer {
    display: flex;
    flex-direction: column;

}

.top {
    display: flex;
    flex-direction: row;

}

.venstre {
    display: flex;
    flex-direction: column;

}

.hojre {
    display: flex;
    flex-direction: column;
    
}

.bot {
    display: flex;
    flex-direction: column;
    
}