:root {
    --darkblue: #19355c;
    --lightblue: #a9eaff;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--lightblue);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo, .overlay > .logo  {
    margin: 0.25rem 0.5rem;
    width: 4rem;
}

#wordmark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    height: 100%;
    animation: none;
}

.navbar, .subnav-content {
    display: none;
}

header h1{
    color: var(--darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 5vw, 3rem); 
}

.burger{
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    margin: 0.2rem;
}

.overlay {
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 5;
    background-color: var(--lightblue);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    padding: 0 4rem;
}
  
.overlay a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 2rem;
    color: var(--darkblue);
    display: block;
}
  
.overlay .closebtn {
    position: absolute;
    right: 0;
    width: 4rem;
    padding: 0rem 1rem;
    margin: 1rem 0.2rem;
}

.sub-plus {
    display: flex;
    justify-content: space-between;
}

.dropdown {
    left: 0;
}

.plusicon {
    width: 1.5rem;
    margin-right: 1rem;
}

.dropdown-container {
    display: none;
}

.dropdown-container a {
    font-size: 1.25rem;
    padding-left: 1rem;
}

.overlaysquiggly:last-of-type {
    margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
    header {
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: var(--lightblue);
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    header .logo, .overlay > .logo  {
        margin: 0.25rem 0.5rem;
        min-width: 4rem;
        max-width: 4.1rem;
    }
    
    #wordmark {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        min-width: 90%;
        padding: 0 4rem;
        height: 100%;
    }

    .navbar {
        display: flex;
        text-decoration: none;
        color: var(--darkblue);
        
    }

    .wave, header h1, .burger {
        display: none;
    }
    
    .subnav {
        max-width: max-content;
        position: relative;
    }

    .subnav .subnavbtn {
        outline: none;
        padding: 1.8rem 1rem;
        background-color: inherit;
        margin: 0;
    }
      
    .navbar a:hover, .subnav:hover .subnavbtn {
        background-color: var(--darkblue);
        color: var(--lightblue);
        border-radius: 0.75rem 0.75rem 0 0;
        padding: 1.8rem 1rem 1.8rem 1rem;
    }
      
    .subnav-content {
        display: none;
        position: absolute;
        background-color: var(--darkblue);
        border-radius: 0 0 0.75rem 0.75rem;
        z-index: 1;
        width: 100%;
        min-width: max-content;
    }
     
    .subnav-content a {
        text-decoration: none;
        color: var(--lightblue);
        font-size: 1rem;
        padding: 0.5rem 0.75rem 0.75rem 1rem;
    }
      
    .subnav-content a:hover {
        background-color: #eee;
        color: var(--darkblue);

        &:last-of-type {
            border-radius: 0 0 0.75rem 0.75rem;
        }
    }
      
    .subnav:hover .subnav-content {
        display: flex;
        flex-direction: column;
    } 
}