:root {
    --darkblue: #19355c;
    --lightblue: #a9eaff;
    --white: #ffffff; 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    top: 0.25rem;
    z-index: 3;
    background-color: var(--lightblue);
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0.25rem 0.5rem;
    min-width: 4rem;
    max-width: 4.1rem;
}

.headerlinks {
    position: absolute;
    display: none;
}

#wordmark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    height: 100%;
    animation: none;
}

h1{
    color: var(--darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 5vw, 3rem); /* Gør fonten responsiv i alt mellem 16 og 32 pixels, dog aldrig strørre end 5% af viewporten */
}

.tab{
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    margin: 0.2rem;
}


/* Drop-out menuen */

.sidebar {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightblue);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    transform: translateX(100vw);
    animation: none;
}

.undermenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10%;
    background-color: var(--lightblue);

    &:first-of-type {
        margin-top: 25%;
    }
    &:last-of-type {
        padding-bottom: 5%;
    }
}

.line {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.5rem 0.5rem;
}

.line h3 {
    color: var(--darkblue);
    font-weight: bolder;
}

.line img {
    height: 1.5rem;
    width: 1.5rem;
}


/* Drop-down i drop-out */
.dropdown-container {
    display: none;
    flex-direction: column;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--lightblue);
}

.dropdown-container > a {
    color: var(--darkblue);
    text-decoration: none;
    margin: 0.25rem;
}


/* @media (min-width: 800px) {
    body {
        background-color: rgb(127, 105, 105);
    }

    .tab, .wave, h1, .wordmark {
        position: absolute;
        display: none;
    }

    header {
        min-height: 5rem;
        justify-content: center;
    }

    .logo {
        height: 4rem;
    }
    
    
    
    .headerlinks ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between
    }

    .headerlinks a {
        color: var(--darkblue);
        text-decoration: none;
    }
} */