/* Her har vi stylet hele sidens udsenende */
body {
    background-color: #a9eaff;
    text-decoration-color: #19355c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h6 {
    margin: 0.5rem 0 1rem;
    display: flex;
    justify-content: center;
}

/* her har vi stylet h2 skriften  */
h2{
    padding: 10px;
}

/* her har vi stylet hvor langt der skal være imellem */
ul {
    padding: 25px;
    list-style-type: none;
}

li {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
}

 /* justerer teksten til venstre */
.drink {
    justify-self: start; 
    text-align: center;
}

.price {
    justify-self: end; 
    color: #19355c; 
    font-weight: bold; 
}

/* tilføjer lidt plads over billedet*/
img {
    grid-column: 1 / span 2; 
    margin-top: 10px; 
}

/* her har vi lavet media querers */
@media screen and (min-width: 1000px) {
    main {
        margin: 0 5rem;
        /* border: red solid 2px; */
    }

    .overkategori {
        display: flex;
        flex-direction: row;
        /* border: blue solid 2px; */
        width: 100%;
        margin-top: 2rem;
    }

    .kategori {
        display: flex;
        flex-flow: column wrap;
        width: 50%;
        border-right: #19355c solid 2px;

        & > h2 {
            align-self: center;
            min-height: 4rem;
            min-width: 10rem;
            padding: 0.62rem 0.5rem 0 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:last-of-type {
            border-right: none;
        }
    }

    li {
        display: flex;
        flex-flow: row wrap;
    }

    .drink {
        width: 50%;
    }

    .price {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    li > img {
        width: 100%;
    }
    
}