body {
    background-color: #a9eaff;
    text-decoration-color: #19355c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-size: 10px;
    display: flex;
    justify-content: center;
}

h2{
    padding: 10px;
}

ul {
    padding: 25px;
    list-style-type: none;
}

li {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
}

 /* Justerer teksten til venstre */
.drink {
    justify-self: start; 
}

.price {
    justify-self: end; 
    color: #19355c; 
    font-weight: bold; 
}

/* tilføjer lidt plads over billedet*/
img {
    grid-column: 1 / span 2; 
    margin-top: 10px; 
}
