* {
    color: #19355c;
    
}

#om-os {
    font-size: 2.3rem;
}

.boks-1 {
    margin: 30px;
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    list-style: 1.5;
    line-height: 1.5;
}

.boks-1 a {
    text-decoration: none;
}

.boks-1 p {
    margin: 0 0 10px 0;
}

.fun-fact {
    margin: 30px;
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: #a9eaff;
    border: #19355c solid 2px;
    padding: 1rem;
    line-height: 1.5;
}


.fun-fact p {
    margin: 0 0 10px 0;
}

h3 {
    padding-bottom: 1rem;
}

.boks-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.boks-2 > section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.boks-2 div {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.profil-billede {
    border-radius: 50%;
    width: 90%;
    margin: 0rem 1rem;

}

.boks-2 .profil-billede {
    display: flex;
    justify-content: center;
    margin: 10px;
}

