#om-os {
    font-size: 2.3rem;
}
/* her er biks-1 stylet, så teksten står pænt */
.boks-1 {
    margin: 30px;
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

.boks-1 a {
    text-decoration: none;
    color: #19355c;
}

.boks-1 p {
    margin: 0 0 10px 0;
}
/* her er fun fact stylet med baggrundsfarve og kant rundt */
.fun-fact {
    margin: 30px;
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: #a9eaff;
    border: #19355c solid 2px;
    padding: 1rem;
    line-height: 1.5;
}


.fun-fact p {
    margin: 0 0 10px 0;
}

.fun-fact h3 {
    padding-bottom: 1rem;
}

.boks-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.boks-2 > section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.boks-2 div {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
/* profilbillederne er sat på række to og to med tekst under */
.profil-billede {
    border-radius: 50%;
    width: 90%;
    margin: 0rem 1rem;

}

.boks-2 .profil-billede {
    display: flex;
    justify-content: center;
    margin: 10px;
}


/* Her er der lavet media screen til computer, som gør teksten passer bedre og er centreret bedre*/
@media screen and (min-width: 800px) {
    
    .boks-1 {
        display: flex;
        margin: 40px 120px 40px 120px;

    }
    /* boksen fun fact er sat ind så den er på linje med teksten ovenover */
    .fun-fact {
        margin: 40px 120px 40px 120px;
        padding: 20px;
    }

    /* her er profilbillederne sat ved siden af hinanden */
    .boks-2 {
        display: flex;
        flex-direction: row;
    
    }
}

