:root {
    --darkblue: #19355c;
    --lightblue: #a9eaff;
    --white: #ffffff; 
}

html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'athelas', 'Georgia', 'Times New Roman', Times, serif;
    color: var(--darkblue);
}


  