:root {
    --darkblue: #19355c;
    --lightblue: #a9eaff;
    --white: #ffffff; 
}

html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'athelas', 'Georgia', 'Times New Roman', Times, serif;
    color: var(--darkblue);
}

.on-style {
    background-color: #19355c; 
    color: #a9eaff;
}

@media screen and (min-width: 800px) {
    .home-bg {
        display: flex;
        align-items: center;
        margin: 0;
        width: 4rem;
        height: 100%;
        background-color: var(--darkblue); 
        padding: 0 5rem 0 0;
    }

    .home {
        filter: hue-rotate(353deg) saturate(0.7) brightness(5);
        filter: hue-rotate(353deg) saturate(1) brightness(10);
        margin: 0;
        width: 100%;
    }

}
  