@media screen and (min-width: 900px) {
    .tekst {
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }
    
    .boks-1 {
        margin: 2rem;
        width: 45%;
        margin-right: 0rem;
        margin-left: 10rem;
    }
    
    .fun-fact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        margin-right: 10rem;
        height: max-content;
    }
       
    .boks-2 {
        width: auto;
        margin: 0;
        padding: 0;
        margin: 1rem 10rem 3rem 10rem;
    }
    
    .boks-2 > section {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: center;
        align-items: center;
    }
}